<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <!--   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--        <link href="styles/styles.css" rel="stylesheet">-->
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

        <title>Logowanie</title>
    </head>
    <body>

        <form action="#" th:action="@{/update}" th:object="${edituser}" method="post">
            <div class="form-control">

                <input type="hidden" id="name" th:field="*{id}"/>
            </div>

            <div class="form-control">
                <label class="header">Username <span>:</span></label>
                <input id="username" th:field="*{username}" minlength="4" required/>
            </div>

            <div class="form-control">
                <label class="enquiry">Password <span>:</span></label>
                <input type="password" id="password" th:field="*{password}" minlength="6" required/>
                <div class="clear"></div>
            </div>

            <div class="form-control">
                <label class="enquiry">Is_admin <span>:</span></label>
                <input id="is_admin" th:field="*{is_admin}"/>
                <div class="clear"></div>
            </div>
            <div class="form-control">
                <label class="enquiry">Login_count <span>:</span></label>
                <input id="login_count" th:field="*{login_count}"/>
                <div class="clear"></div>
            </div>

            <div class="form-control">
                <input type="reset" class="reset" value="Reset"/>
                <input type="submit" class="register" value="save changes"/>
                <div class="clear"></div>
            </div>
        </form>
        <script type="text/javascript"
                th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
        <script type="text/javascript"
                th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    </body>
</html>
